Python for Data & Analytics<br>
Chapter 10, section 3

*** requires datafile: SP500_Constituents.csv

In [1]:
import pandas as pd
dfsp = pd.read_csv('SP500_Constituents.csv')

In [2]:
dfsp = pd.read_csv('SP500_Constituents.csv', index_col='Symbol')

In [3]:
dfsp.head()

,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
Symbol,,,,,,,,
MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [4]:
dfsp5 = dfsp.head()

In [5]:
len(dfsp)

505

In [6]:
dfsp.shape

(505, 8)

In [7]:
dfsp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 505 entries, MMM to ZTS
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Security               505 non-null    object
 1   SEC filings            505 non-null    object
 2   GICS Sector            505 non-null    object
 3   GICS Sub-Industry      505 non-null    object
 4   Headquarters Location  505 non-null    object
 5   Date first added       450 non-null    object
 6   CIK                    505 non-null    int64
 7   Founded                502 non-null    object
dtypes: int64(1), object(7)
memory usage: 35.5+ KB

Code from: Python for Data & Analytics, (c) 2022 Rose River Software, LLC